.masthead {
  .x-navbar-wrap {
    height: $navbar-size;
    background-color: $navbar-background-color;
  }

  .x-navbar {
    width: 100%; // Safari fix
    padding: 0 $global-spacing;
    background-color: $navbar-background-color;
    


    .x-navbar-inner {
      &,
      .x-container {
        min-height: $navbar-size;
      }
      .x-container {
        display: flex;
        align-items: stretch;
      }
      .x-nav-wrap {
        margin-left: $global-spacing;
      }

      .x-nav li a,
      .x-btn-navbar i {
        color: $navbar-color;
        @include fast-transition;
        @include active {
          color: darken( $navbar-color, 10% );
        }
      }

      // Responsive switch to mobile button and menu
      @include break( $mobile-breakpoint, 'min') {
        .x-btn-navbar {
          display: none;
        }
        .x-nav-wrap.desktop {
          display: flex;
        }
      }

      @include break( $mobile-breakpoint ) {
        .x-btn-navbar {
          display: block;
        }
        .x-nav-wrap.desktop {
          display: none;
        }
      }
    }
  }

  &.masthead-inline .x-navbar .desktop .sub-menu .sub-menu {
    top: 0;
  }

  // Transparent fixes
  @if $navbar-background-color == transparent {
    .x-navbar {
      pointer-events: none;
      .x-nav {
        pointer-events: all;
      }
    }
  }

  @if $navbar-fixed-background-color == transparent {
    .x-navbar.x-navbar-fixed-top {
      pointer-events: none;
      .x-nav {
        pointer-events: all;
      }
    }
  }
  //


}
