#{inputs('text')} {
  display: inline-block;
}

textarea,
#{inputs('text')} {
  border: 0;
  background-color: transparent;
  @include border( $input-border-color, $input-borders );
  border-radius: $input-border-radius;
  @include fast-transition;
  @include font( 'body' );
  &:focus {
    background-color: transparentize( $white, 0.25 );
    border-color: $gray;
  }
}

textarea,
button,
.x-btn,
#{inputs('buttons')},
#{inputs('text')} {
  min-height: 2.5em;
  padding: 0 $global-spacing / 4;
}

textarea {
  resize: none;
  padding: $global-spacing / 4;
}

.wpcf7-form-control,
.wpcf7-response-output {
  width: 100%;
  margin-top: .5em;
  &:not(a) {
    display: inline-block;
  }
}

// #{inputs('buttons')} {
//   // color: red;
//   min-height: $global-spacing;
//   background-color: transparent;
//   padding: 0 $global-spacing / 4;
//   @include fast-transition;
//   @include border( transparent, 'bottom' );
//   @include font( 'body' );
//   &:focus {
//     background-color: transparentize( $white, 0.25 );
//     border-color: $gray;
//     border-width: $global-border-width * 2;
//   }
// }


//
// input[type=text] {
//   padding-left: $input-height / 3;
//   height: $input-height;
// }
//
// textarea {
//   resize: none;
//   padding: $input-height / 4 0 $input-height / 4 $input-height / 3;
//   height: 100%;
// }

// input[type=text],
// textarea {
//   margin-bottom: $global-border-width;
//   border: 0;
//   background-color: $input-background-color;
//   box-shadow: none;
//   color: $secondary-color;
//   @include fast-transition;
//   @include border-radius;
//   &:focus {
//     // @if $input-border-style == 'box-shadow' {
//     //   box-shadow: inset $global-border-width * 2 0px 0px $primary-color;
//     // }
//     // @elseif $input-border-style == 'border' {
//     //
//     // }
//   }
// }
//
// .ep-flex {
//   display: flex;
//   align-content: stretch;
//   margin-bottom: $global-spacing / 4;
//   @include break( 'm' ) {
//     flex-direction: column;
//     & > div:nth-child(2) span {
//       margin-top: $global-spacing / 4;
//       textarea {
//         min-height: $input-height * 2;
//       }
//     }
//   }
//   & > div {
//     flex: 1;
//     display: flex;
//     &:nth-child(1) {
//       @include break( 'm', 'min' ) {
//         margin-right: $global-spacing / 4;
//       }
//       display: flex;
//       flex-direction: column;
//     }
//     &:nth-child(2) { //  SAFARI FIX
//       display: flex; //
//       & > span { //
//         display: flex; //
//         flex: 1; //
//       }
//     }
//     span:not(:first-of-type) {
//       margin-top: $global-spacing / 4;
//     }
//   }
// }
