 .wpml-navigation-links {
  float: right;
  width: 35%;
}
 .wpml-section {
  max-width: none;
  width: 60%;
  clear: none;
}
 .wpml-section-content {
  width: 820px;
}
 .wp-color-result::after {
  min-width: 77px;
  width: 160px;
}
 .language-selector-preview {
  float: left;
}
