.masthead {
  // position: fixed;
  // height: 0;
  // width: 100%;

  @include simple-transition;

  .x-navbar-wrap {
    // height: $navbar-size;
    display: flex;
    // background-color: $navbar-background-color;
  }

  .x-navbar {
    width: 100%; // Safari fix
    // background-color: $navbar-background-color;

    &,
    .x-navbar-inner {
      height: 100%;
    }

    .x-navbar-inner {
      position: relative;
      display: flex;
      // &,
      // .x-container {
      //   min-height: $navbar-size;
      // }
      // .x-container {
      //   display: flex;
      //   align-items: stretch;
      // }
      // .x-nav-wrap {
      //   margin-left: $global-spacing;
      // }


      // Responsive switch to mobile button and menu
      @include break( $mobile-breakpoint, 'min') {
        .x-btn-navbar {
          display: none;
        }
        .x-nav-wrap.desktop {
          // display: flex;
        }
      }

      @include break( $mobile-breakpoint ) {
        .x-btn-navbar {
          display: block;
        }
        .x-nav-wrap.desktop {
          display: none;
        }
      }
    }
  }

  // Transparent fixes
  @if $navbar-background-color == transparent {
    .x-navbar {
      pointer-events: none;
      .x-nav {
        pointer-events: all;
      }
    }
  }

  @if $navbar-fixed-background-color == transparent {
    .x-navbar.x-navbar-fixed-top {
      pointer-events: none;
      .x-nav {
        pointer-events: all;
      }
    }
  }
  //


}
