.masthead {
  // position: fixed;
  // height: 0;
  // width: 100%;

  .x-container {
    position: relative;
  }

  // Responsive switch to mobile button and menu
  @include break( $mobile-breakpoint, 'min') {
    .x-btn-navbar {
      // display: none;
      opacity: 0;
      pointer-events: none;
    }
    .x-nav-wrap.desktop {
      // display: flex;
    }
  }

  @include simple-transition;

  .x-navbar-wrap {
    // height: $navbar-size;
    display: flex;
    // background-color: $navbar-background-color;
  }

  .x-navbar {
    width: 100%; // Safari fix
    // background-color: $navbar-background-color;

    &,
    .x-navbar-inner {
      height: 100%;
    }

    .x-navbar-inner {
      position: relative;
      display: flex;
      // &,
      // .x-container {
      //   min-height: $navbar-size;
      // }
      // .x-container {
      //   display: flex;
      //   align-items: stretch;
      // }
      // .x-nav-wrap {
      //   margin-left: $global-spacing;
      // }



      @include break( $mobile-breakpoint ) {
        .x-btn-navbar {
          display: flex;
        }
        .x-nav-wrap.desktop {
          display: none;
        }
      }
    }
  }
}

body.admin-bar {
  @include break( $mobile-breakpoint, 'min' ) {
    .scrolled .masthead .x-navbar-wrap {
      top: $admin-bar-height;
    }
  }
}
