////////////////////
// Brand img/text //
////////////////////
.masthead .x-navbar .x-navbar-inner .x-brand {
  display: flex;
  float: left;

  @if $navbar-brand-image == true {
    &.img > svg,
    &.img > img {
      height: $navbar-brand-height;
      margin: auto;
      @include fast-transition;
    }
  }

  @else {
    &.text {
      margin: auto;
      font-size: $navbar-brand-height;
    }
  }
}

.x-brand svg {
  display: block;
  width: auto;
  float: left;
  path {
    @include simple-transition;
  }
}

.x-nav-wrap {
  float: right;
}
