///////////////////////////
// Fixed Navbar: Desktop //
///////////////////////////
.masthead .x-navbar.x-navbar-fixed-top .x-navbar-inner .x-nav-wrap.desktop {
  @include visible;

  .x-nav {
    & > li > a { // Only top level fixed links
      @if $navbar-link-style == 'border'
       or $navbar-link-style == 'box' {
        padding: ( $navbar-fixed-height - $global-border-width ) * 0.25  $navbar-fixed-height * 0.35;
      }
    }

    & > li > .sub-menu { // Only top level fixed submenu
      top: $navbar-fixed-height;
    }

    & > li .sub-menu { // All fixed submenus
      background-color: $navbar-fixed-submenu-background-color;
    }
  }
}
