.masthead .x-navbar.x-navbar-fixed-top .x-nav-wrap.mobile {
  top: $navbar-fixed-height;
}

.masthead .x-navbar .x-nav-wrap.mobile {
  background-color: lighten($navbar-background-color, 5%);
  margin: auto;
  top: $navbar-height;
  position: absolute;
  left: 0;
  right: 0;
  z-index: z( front );
  ul {
    flex-direction: column;
    display: flex;
    position: relative;
    height: 100%;
    li a {
      min-height: 60px;
    }
    & > li {
      flex: 1;
      &.menu-item-has-children {
        flex-direction: column;
        a {
          width: 100%;
        }
      }
      .sub-menu {
        position: relative;
        top: 0;
        background-color: rgba(#ffffff, 0.25);
        margin: auto !important;
        display: flex;
        li a {
          min-height: 50px;
          font-size: $navbar-font-size * 0.9;
        }
      }
    }
  }
}

///////////////////
// Mobile button //
///////////////////
.masthead .x-navbar .x-navbar-inner .x-btn-navbar {
  box-shadow: none;
  @if $navbar-link-style == 'fill' {
    // padding: ($navbar-height - $navbar-font-size) / 2 $navbar-text-spacing;
    height: auto;
    border-radius: 0;
  }

  i {
    font-size: $navbar-font-size * 1.8;
    // color: $navbar-color;
    // @include fast-transition;
    // @include active {
    //   color: $navbar-hover-color;
    // }
  }
}
