.masthead .mobile {
  top: $navbar-fixed-size;
}

.x-btn-navbar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  @include stroke( 2, $white );
  & > i {
    margin: auto;
  }
}

.masthead .mobile {
  position: relative;
  opacity: 0;
  pointer-events: none;
  @include fast-transition;
  & > ul {
    margin: 0;
    ul {
      border-width: 1px 0;
      border-color: #eee;
      border-style: solid;
    }
  }
}

.masthead .mobile {
  margin: auto;
  ul {
    flex-direction: column;
    display: flex;
    position: relative;
    // height: 100%;
    li a {
      min-height: 60px;
      display: flex;
    }
    & > li {
      flex: 1;
      &.menu-item-has-children {
        flex-direction: column;
        a {
          width: 100%;
        }
      }
      .sub-menu {
        position: relative;
        top: 0;
        display: block;
        li a {
          min-height: 50px;
          font-size: $navbar-font-size * 0.85;
        }
      }
    }
  }
}

///////////////////
// Mobile button //
///////////////////
.masthead .x-navbar .x-navbar-inner .x-btn-navbar {
  box-shadow: none;
  @if $navbar-link-style == 'fill' {
    // padding: ( $navbar-size - $navbar-font-size ) / 2 $navbar-text-spacing;
    height: auto;
    border-radius: 0;
  }

  i {
    font-size: $navbar-font-size * 1.8;
    // @include fast-transition;
    // @include active {
    //   color: $navbar-hover-color;
    // }
  }
}

// Chrome z-index fix
@include break( $mobile-breakpoint ) {
  .x-navbar-wrap,
  .x-navbar {
    background-color: inherit;
  }
  .x-navbar {
    z-index: z( 'high' );
  }
}
