//////////////
// Submenus //
//////////////
.masthead .desktop .x-nav {
  .menu-item-has-children > a > span::after {
    content: '\f0d7';
    font-family: 'fontawesome';
    margin-left: $global-spacing / 8;
    transform: rotate(0);
    position: absolute;
    @include fast-transition;
  }
  .menu-item-has-children > a:hover > span::after {
    transform: rotate(180deg);
  }
}

.masthead .x-nav {
  // All submenus
  li:hover > .sub-menu {
    display: flex;
  }

  li > .sub-menu {
    display: none;

    flex-direction: column;
    list-style: none;
    margin: 0;
    top: $navbar-size;
    // padding: 0 $global-border-width $global-border-width $global-border-width;
    @include fast-transition;

    li {
      position: relative;
      a {
        display: flex;
      }
    }
  }

  // Only top level sub menu
  &.desktop > li > .sub-menu {
    position: absolute;
    // top: $navbar-submenu-offset;
    // width: 100%;
  }
}


// // Show submenu
// .masthead .x-navbar .x-navbar-inner .x-nav-wrap .x-nav > li.x-active > .sub-menu > li.x-active > .sub-menu {
//   display: flex;
// }

// @elseif $navbar-link-style == 'border'
//      or $navbar-link-style == 'box' {
//   .x-navbar .desktop .x-nav {
//
//     .current-menu-item > a,
//     .x-active > a,
//     li > a:hover {
//
//       span {
//         border-color: currentColor;
//       }
//
//       @if $navbar-link-style == 'box'
//        or $navbar-link-style == 'pill' {
//         background-color: $navbar-link-active-color;
//       }
//     }
//
//     & > li > a {
//       border: $global-border-width solid transparent;
//       // margin: ( $navbar-size - ($navbar-font-size + (($navbar-size / 6) * 2) + ($global-border-width * 2))) / 2 ($navbar-text-spacing / 2 );
//       // padding: $navbar-size / 6 !important;
//       // height: auto;
//
//       @if $navbar-link-style == 'pill' or $navbar-link-style == 'pill-border' {
//         border-radius: 30px;
//       }
//     }
//   }
// }
