.masthead .x-nav {

  // Top level li
  & > li {
    display: flex;
    align-items: stretch;
    flex: 1;
    text-align: center;
    // WPML menu item width fix
    &.menu-item-language .sub-menu {
      min-width: none;
    }
  }

  // All menu items
  li a {
    margin: auto;
    font-size: $navbar-font-size;
    @if $navbar-menu-flex != 'true' {
      // padding: 0 $global-spacing / 4;
    }
    @include font( $navbar-font );
    span {
      margin: auto;
    }
  }

  // Only top level menu items
  & > li > a {
    @if $navbar-link-style == 'fill'
    or $navbar-link-style == 'line-bottom' {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
    }

    @if $navbar-link-style == 'box'
    or $navbar-link-style == 'border' {
      padding: ( $navbar-size - $global-border-width ) * 0.12  $navbar-size * 0.15;
      @include border-radius;

      @if $navbar-link-style == 'border' {
        border: $global-border-width solid transparent;
      }
    }
  }
}
