@if $navbar-position == 'fixed-top' {
  .masthead {
    position: fixed;
  }

  .scrolled {
    .masthead {
      height: $navbar-fixed-size;
    }
  }

  .scrolled .masthead .x-navbar {

    @if $navbar-size != $navbar-fixed-size {
      .x-navbar-inner {
        @include simple-transition;

        &, & > .x-container {
          min-height: $navbar-fixed-size;
        }

        @if $navbar-brand-image == false {
          .x-brand.text {
            font-size: $navbar-fixed-brand-height;
            @include simple-transition;
          }
        }
        @else {
          .x-brand.img > img,
          .x-brand.img > svg {
            height: $navbar-fixed-brand-height;
            @include simple-transition;
          }
        }
      }
    }
  }

  .scrolled .masthead .x-navbar .x-navbar-inner .x-nav-wrap.desktop {
    @include visible;

    .x-nav {
      & > li > a { // Only top level fixed links

        @if $navbar-link-style == 'border'
         or $navbar-link-style == 'box' {
          padding: ( $navbar-fixed-size - $global-border-width ) * 0.25  $navbar-fixed-size * 0.35;
        }
      }

      & > li > .sub-menu { // Only top level fixed submenu
        top: $navbar-fixed-size;
      }
    }
}
}
