@if $navbar-position == 'fixed-top' {
  @include break( $mobile-breakpoint, 'min' ) {
    .scrolled .masthead .x-navbar-wrap {
      position: fixed;
    }
  }

  .scrolled .masthead {
    @if $navbar-size != $navbar-fixed-size {
      .x-navbar-inner {

        // &, & > .x-container {
        //   min-height: $navbar-fixed-size;
        // }

        @if $navbar-brand-image == false {
          .x-brand.text {
            font-size: $navbar-fixed-brand-size;
            @include simple-transition;
          }
        }
        @else {
          .x-brand.img > img,
          .x-brand.img > svg {
            height: $navbar-fixed-brand-size;
            @include simple-transition;
          }
        }
      }
    }

    ul li a + ul {
      top: $navbar-fixed-size;
    }
  }

  @if $navbar-size != $navbar-fixed-size {
    .scrolled .masthead .x-navbar-wrap {
      height: $navbar-fixed-size;
    }
  }
  @if $navbar-brand-size != $navbar-fixed-brand-size {
    .scrolled .masthead .x-brand.img > svg,
    .scrolled .masthead .x-brand.img > img{
      height: $navbar-fixed-brand-size;
    }
    .scrolled .masthead .x-brand.text {
      font-size: $navbar-fixed-brand-size;
    }
  }

  .scrolled .masthead .x-nav-wrap.desktop {
    // @include visible;

    .x-nav {
      & > li > a { // Only top level fixed links

        @if $navbar-link-style == 'border'
         or $navbar-link-style == 'box' {
          padding: ( $navbar-fixed-size - $global-border-width ) * 0.25  $navbar-fixed-size * 0.35;
        }
      }

      // & > li > .sub-menu { // Only top level fixed submenu
      //   top: $navbar-fixed-size;
      // }
    }
  }
}
