// Transitions
@mixin transition( $args... ) {
  transition: $args;
}

@mixin active() {
  &:active,
  &:hover {
    @content;
  }
}
@mixin visible( $bool: true ) {
  @if $bool {
    opacity: 1;
    pointer-events: all;
  }
  @else {
    opacity: 0;
    pointer-events: none;
  }
}

// Simple easing transitions
// Usage @include slow-transition;
@mixin slow-transition {
  @include transition(all 1s ease);
}
// Usage @include simple-transition;
@mixin simple-transition {
  @include transition(all 0.5s ease);
}
// Usage @include fast-transition;
@mixin fast-transition {
  @include transition(all 0.3s ease);
}
// Usage @include turbo-transition;
@mixin turbo-transition {
  @include transition(all 0.1s ease);
}

// Quick size
// Usage: @include size( 100% ); If you don't include the second argument, height, it will be the same as the width.
@mixin size( $width, $height: $width ) {
  width: $width;
  height: $height;
}

// Quick position
@mixin pos( $top: 0, $right: $top, $bottom: $top, $left: $right) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// Inserts a background image from Lorem Pixel with the dimensions and optionally subject of your choice
// Usage: @include placeholder()
@mixin placeholder( $width: 500px, $height: $width, $subject: null ) {
  background-image: url("http://lorempixel.com/#{$width}/#{$height}/#{$subject}");
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}
