@import '../../edit';

/////////////////
// Breakpoints //
/////////////////
$breakpoint-tiny: 339px !default;
$breakpoint-small: 443px !default;
$breakpoint-medium: 676px !default;
$breakpoint-large: 979px !default;

////////////
// Colors //
////////////
$primary-color: #cc292d !default;
$secondary-color: lighten($primary-color, 20%) !default;

$black: #000 !default;
$dark-gray: #222 !default;
$gray: #333 !default;
$light-gray: #ccc !default;
$white: #fff !default;

$background: #eee !default;

$background-color-light: $white !default;
$background-color-dark: $dark-gray !default;

////////////
// Global //
////////////
$container-width: 1200px !default;
$container-max-width: 95% !default;
$global-border-radius: 0 !default;
$global-border-color: currentColor !default;
$global-border-width: 2px !default;
$global-spacing: 2em !default;

//////////
// Text //
//////////
$text-color-light: $white !default;
$text-color-dark: $dark-gray !default;

@import 'functions';

$body-font: 'Open Sans' !default;
$body-font-external: true !default;
$body-font-size: 16px !default;
$body-font-style: normal !default;
$body-font-weight: 300 !default;
$body-background-color: $background-color-light !default;
$body-color: calculate-color( $body-background-color ) !default;
$body-line-height: 1.9 !default;

$heading-font: 'Oswald' !default;
$heading-font-external: true !default;
$heading-font-weight: 400 !default;
$heading-color: calculate-color( $body-background-color ) !default;
$heading-text-transform: uppercase !default;
$heading-letter-spacing: 0 !default;

//////////////
// Sections //
//////////////
$section-padding: $global-spacing * 4 !default;

/////////////
// Buttons //
/////////////
$button-style: 'transparent' !default; // Transparent | Fill | Border-Fill | 3D
$button-font: 'heading' !default;
$button-background-color: $primary-color !default;
$button-active-background-color: $secondary-color !default;
$button-color: calculate-color( $button-background-color ) !default;
$button-arrow: true !default;

////////////
// Inputs //
////////////
$input-height: 50px !default;
$input-style: 'transparent' !default; // Transparent | Fill | Border-Fill | 3D
$input-border-color: transparent !default;
$input-active-border-color: $global-border-color !default;
$input-background-color: $background-color-light !default;
$input-active-background-color: $secondary-color !default;
$input-color: calculate-color( $input-background-color ) !default;

////////////
// Navbar //
////////////
// Colors //
$navbar-background-color: $dark-gray !default;
$navbar-fixed-background-color: transparentize( $navbar-background-color, 0.5 ) !default;
$navbar-submenu-background-color: $navbar-background-color !default;
$navbar-fixed-submenu-background-color: $navbar-fixed-background-color !default;

// Height //
$navbar-height: 98px !default;
$navbar-fixed-height: $navbar-height !default;
$navbar-submenu-padding: 0 !default;

// Text //
$navbar-text-font-size: $body-font-size !default;
$navbar-text-font: 'heading' !default;
$navbar-text-color: calculate-color( $navbar-background-color ) !default;
$navbar-text-hover-color: darken($navbar-text-color, 15) !default;
$navbar-text-transform: $heading-text-transform !default;
$navbar-font-weight: $heading-font-weight !default;
$navbar-text-spacing: 10px !default; // Horizontal padding of list items

// Links //
$navbar-link-style: 'fill' !default; // Underline | Fill | Border | Rectangle | Pill | Pill-border
$navbar-link-active-color: $primary-color !default;
$navbar-fixed-link-active-color: $navbar-link-active-color !default;

// Brand //
$navbar-brand-image: true !default;
$navbar-brand-height: 76px !default;
$navbar-fixed-brand-height: $navbar-brand-height !default;
$navbar-brand-center: false !default;
$navbar-brand-circle: false !default;

////////////
// Footer //
////////////
$footer-top-padding: $global-spacing * 4 !default;
$footer-top-background-color: $primary-color !default;
$footer-top-text-color: calculate-color( $footer-top-background-color ) !default;
$footer-top-font-size: $body-font-size !default;

$footer-bottom-padding: $global-spacing !default;
$footer-bottom-font: 'heading' !default;
$footer-bottom-background-color: darken( $footer-top-background-color, 15% ) !default;
$footer-bottom-text-color: calculate-color( $footer-bottom-background-color ) !default;

//////////
// Maps //
//////////
$fonts: (
  body: $body-font,
  heading: $heading-font
);

$z-layers: (
  bg: -9999,
  normal: 1,
  front: 20,
  high: 1200
);

$breakpoints: (
  tiny: $breakpoint-tiny,
  small: $breakpoint-small,
  medium: $breakpoint-medium,
  large: $breakpoint-large,
  lumia950xl: 576px,
  iphone6: 375px
);

$social: (
  twitter: (
    char: "\f099",
    color: #55acee
  ),
  google: (
    char: "\f0d5",
    color: #dd4b39
  ),
  facebook: (
    char: "\f09a",
    color: #3b5998
  ),
  github: (
    char: "\f09b",
    color: #231f20
  ),
  linkedin: (
    char: "\f0e1",
    color: #0977b5
  ),
  dribbble: (
    char: "\f17d",
    color: #ea4c89
  ),
  rss: (
    char: "\f09e",
    color: #ff6600
  )
);
