/////////////////
// X overrides //
/////////////////
$fa-font-path: "../x/framework/fonts/font_awesome";
$accentColor: $primary-color;
$linkColor: $primary-color;
$linkColorHover: $secondary-color;
$sansFontFamily: map-get( map-get( $fonts, "body" ), "family" );
$altFontFamily: map-get( map-get( $fonts, "heading" ), "family" );
$navbarHeight: $navbar-height;
$navbarFontSize: $navbar-font-size;
$navbarBackground: $navbar-background-color;
$navbarLinkColor: $navbar-color;
$navbarLinkColorHover: $navbar-hover-color;
$navbarLinkColorActive: $navbar-hover-color;
$headingsFontWeight: map-get( map-get( $fonts, "heading" ), "font-weight" );;
$headingsColor: $heading-color;
$tableBorder: $global-border-color;
$inputBorder: $global-border-color;
$inputBackground: $input-background-color;
$baseLineHeight: $body-line-height;
$baseFontWeight: map-get( map-get( map-get( $fonts, "body"), "atts" ), "font-weight" );
$bodyBackground: $body-background-color;
$textColor: $body-color;
$baseBorderRgba: $global-border-color;
