@import '../../edit';

////////////
// Colors //
////////////
$primary-color: #CC292D !default;
$secondary-color: lighten($primary-color, 20%) !default;

$black: #000 !default;
$dark-gray: #222 !default;
$gray: #333 !default;
$light-gray: #ccc !default;
$white: #fff !default;

$base-color-light: $white !default;
$base-color-dark: $dark-gray !default;
@import 'functions';

////////////
// Global //
////////////
$container-width: 1200px !default;
$container-max-width: 95% !default;
$global-border-radius: 0 !default;
$global-corners: 'top-left', 'bottom-right';
$global-border-color: currentColor !default;
$global-border-width: 2px !default;
$global-spacing: 2em !default;

//////////
// Text //
//////////
$body-background-color: $base-color-light !default;
$body-color: calculate-color( $body-background-color ) !default;
$body-line-height: 1.9 !default;
$heading-color: calculate-color( $body-background-color ) !default;

//////////////
// Sections //
//////////////
$section-padding: $global-spacing * 4 !default;

/////////////
// Buttons //
/////////////
$button-style: 'transparent' !default; // Transparent | Fill | Border-Fill | 3D
$button-font: 'heading' !default;
$button-background-color: $primary-color !default;
$button-active-background-color: $secondary-color !default;
$button-color: calculate-color( $button-background-color ) !default;
$button-arrow: true !default;

////////////
// Inputs //
////////////
$input-height: 50px !default;
$input-style: 'transparent' !default; // Transparent | Fill | Border-Fill | 3D
$input-border-color: transparent !default;
$input-active-border-color: $global-border-color !default;
$input-background-color: $base-color-light !default;
$input-active-background-color: $secondary-color !default;
$input-color: calculate-color( $input-background-color ) !default;

////////////
// Navbar //
////////////
$navbar-position: 'left' !default;
$mobile-breakpoint: 'm' !default;
// Colors //
// $navbar-background-color: $dark-gray !default;
// $navbar-fixed-background-color: transparentize( $navbar-background-color, 0.5 ) !default;
// $navbar-submenu-background-color: $navbar-background-color !default;
// $navbar-fixed-submenu-background-color: $navbar-fixed-background-color !default;

// Height //
$navbar-size: 98px !default;
$navbar-fixed-size: $navbar-size !default;
$navbar-submenu-padding: 0 !default;
$navbar-menu-flex: false !default;

// Text //
$navbar-font-size: map-get-deep( $fonts, "body", "atts", "font-size"  ) !default;
$navbar-font: 'heading' !default;
// $navbar-color: calculate-color( $navbar-background-color ) !default;
// $navbar-hover-color: darken($navbar-color, 15) !default;

// Links //
$navbar-link-style: 'line-bottom' !default; // line-{place} | Fill | Border | Rectangle | Pill | Pill-border
// $navbar-link-active-color: $primary-color !default;
$navbar-fixed-link-active-color: $navbar-link-active-color !default;

// Brand //
$navbar-brand-image: true !default;
$navbar-brand-height: $navbar-size * 0.75 !default;
$navbar-fixed-brand-height: $navbar-fixed-size * 0.95 !default;

////////////
// Social //
////////////
$social-style: 'fill';

////////////
// Footer //
////////////
$footer-top-padding: $global-spacing * 4 !default;
$footer-top-background-color: $primary-color !default;
$footer-top-text-color: calculate-color( $footer-top-background-color ) !default;
$footer-top-font-size: map-get-deep( $fonts, "body", "atts", "font-size"  ) !default;

$footer-bottom-padding: $global-spacing !default;
$footer-bottom-font: 'heading' !default;
$footer-bottom-background-color: darken( $footer-top-background-color, 15% ) !default;
$footer-bottom-text-color: calculate-color( $footer-bottom-background-color ) !default;

@import "maps";
