// Applies appropriate color to all elements
@each $name, $color in $colors {
  $accent: null;
  $accent-reverse: null;

  @if $name == yellow {
    $accent: $text-color-dark;
    $accent-reverse: $text-color-light;
  }

  @else {
    $accent: $text-color-light;
    $accent-reverse: $text-color-dark;
  }

  .#{$name} {

    // Links
    .x-main a:not(.x-btn) {
      color: $color;
      @include animated-underline( $color );
    }

    .x-colophon.bottom .x-colophon-content,
    .x-colophon.bottom .x-colophon-content a {
      color: $accent;
    }

    // contact form
    .x-alert, .wpcf7-response-output, .buddypress #message, .bbp-template-notice {
      color: $color;
    }
    span.wpcf7-not-valid-tip {
      color: $color;
    }


    .bg3 a:not(.x-btn):hover,
    .x-colophon.bottom .x-colophon-content a:not(.x-btn):hover {
      color: transparentize( $accent, 0.25 );
      &::after {
        background-color: transparentize( $accent, 0.25 );
      }
    }

    // Buttons
    .x-btn.x-btn-global {
      color: $color;
      border-color: $color;
      &:active,
      &:focus,
      &:hover {
        border-color: $color;
        background-color: $color;
        color: $accent;
      }
    }
    .bg3 .x-btn.x-btn-global {
      color: $accent;
      border-color: $accent;
      &:active,
      &:focus,
      &:hover {
        border-color: $accent;
        background-color: $accent;
        color: $color;
      }
    }


    // MADOG logo color
    svg .cls-2 {
      fill: $color;
    }

    .madog-paw .cls-1 {
      fill: transparentize($color, 0.5);
    }
    #ep-top .svg-background svg .cls-1 {
      fill: transparentize($color, 0.5);
    }


    // Navbar
    // .masthead .x-navbar .x-nav-wrap .x-nav > li > a:hover,
    // .masthead .x-navbar .x-nav-wrap .x-nav > li.current-menu-item > a,
    // .masthead .x-navbar .x-nav-wrap .x-nav > li.x-active > a {
    //   background-color: $color;
    //     & > span {
    //       color: $accent;
    //     }
    //
    // }

    // Colored sections
    .bg3,
    .x-colophon.bottom {
      background-color: $color;
      ::selection {
        background-color: $accent-reverse;
      }
    }

    ::selection {
      background-color: $color;
      color: $accent;
    }

    input[type=text],
    input.wpcf7-text,
    textarea {
      &:focus {
        background-color: lighten( $color, 45% );
        box-shadow: inset $global-border-width * 2 0px 0px $color;
      }
    }

    .bg3 {
      #{textElements()}, ul {
        color: $accent;
      }
    }
  }
}
