.product-summary {
  table td:first-child,
  table th:first-child{
    width: 16em;
  }
  input,
  button {
    width: 100%;
  }
  tr {
    height: 3em;
  }
  // background-color: #eee;
  // #{headings()} {
  //   padding: 0.5em 0.25em;
  //   margin: 0;
  // }
}
