html {
  overflow-x: hidden;
}

.x-colophon form {
  span {
    clear: both;
  }
}


// .ep-row:hover .madog-paw .cls-1 {
//   fill: $black;
// }

.ep-row:nth-child(2n) .madog-paw {
  right: 0;
}

@include break( 'large', 'min' ) {
  #ep-top {
    display: flex;
    flex-direction: column;
  }
  #ep-top .x-container {
    margin: auto;
  }
}



#top h1 {
  margin-top: 0;
  font-size: $global-spacing * 1.5;
  @include break('large') {
    font-size: $global-spacing;
  }
  @include break('small') {
    font-size: $global-spacing * 0.9;
  }
}

body {
  @include break('large') {
    font-size: $body-font-size * 0.85;
  }
}

#ep-top .bg3 {
  display: flex;
  width: 100%;
  padding: $global-spacing / 2 0;
  a {
    margin: auto;
  }
}
