// @include break( 'xs' ) {
//   @import '../responsive/breakpoint-xs';
// }
//
// @include break( 's' ) {
//   @import '../responsive/breakpoint-s';
// }
//
// @include break( 'm' ) {
//   @import '../responsive/breakpoint-m';
// }
//
// @include break( 'l' ) {
//   @import '../responsive/breakpoint-l';
// }
//
// @include break( 'xl' ) {
//   @import '../responsive/breakpoint-xl';
// }
//
// @include break( 'xxl' ) {
//   @import '../responsive/breakpoint-xxl';
// }

@media print {
  @import '../responsive/print';
}
@include break('l') {
  #wpadminbar #wp-admin-bar-edies-plugin {
    display: block;
    .ab-label {
      display: inline-block;
      padding-right: 0.75em;
    }
    .ab-icon {
      font-size: 2em !important;
      top: 8px;
    }
  }
}
