////////////
// Colors //
////////////
$primary-color: #FED42D;
$secondary-color: #FEA832;

$black: #222;
$dark-gray: #333;
$gray: #6d6e71;
$light-gray: #ccc;
$white: #fff;

header.x-header-landmark {
  display: none !important;
}

$base-color-light: $white;
$base-color-dark: $black;

////////////
// Global //
////////////
$container-width: 900px;
$container-max-width: 94%;
$global-border-radius: 10px 0 10px 0;
$global-corners: 'top-left', 'bottom-right';
$global-border-color: $primary-color;
$global-border-width: 2px;
$global-spacing: 3em;

//////////
// Text //
//////////
$fonts: (
  heading: (
    family: "Dosis",
    source: "Google",
    fallback: serif,
    atts: (
      font-weight: 700,
      letter-spacing: 2px,
      text-transform: uppercase
    )
  ),
  body: (
    family: "Open Sans",
    source: "Google",
    fallback: sans-serif,
    atts: (
      font-weight: 300,
      font-size: 17px
    )
  )
);

// $body-color: $base-color-light;
// $body-line-height: 1.9;
// $body-background-color: $base-color-dark;

/////////////
// Buttons //
/////////////
$button-style: 'transparent-invert'; // Transparent | Fill | Transparent-invert
// $button-font: 'body';
// $button-color: $base-color-light;
$button-background-color: $primary-color;
$button-active-background-color: lighten( $button-background-color, 10% );
$button-arrow: false;

////////////
// Inputs //
////////////
$input-style: 'border-fill'; // Transparent | Fill | Border-Fill | 3D
$input-style-transition: none; // Grow | Shrink | none
$input-style-transition-rotation: 0; // Rotation on hover
$input-border-color: transparent;
$input-active-border-color: $global-border-color;
$input-color: $base-color-dark;
$input-background-color: $white;
$input-active-background-color: $secondary-color;
$input-height: $global-spacing * 1.5;
$input-background-color: $white;
$input-background-color: lighten( $secondary-color, 2% );

////////////
// Navbar //
////////////
// Colors //
$navbar-background-color: $base-color-dark; //e74b3c - ee3d3d
$navbar-fixed-background-color: $navbar-background-color;
$navbar-submenu-background-color: $navbar-fixed-background-color;
$navbar-fixed-submenu-background-color: $navbar-fixed-background-color;

// Height //
$navbar-size: 180px;
$navbar-fixed-size: $navbar-size * 0.5;
$navbar-submenu-padding: 0;

// Text //
$navbar-font-size: 18px;
$navbar-font: 'heading';
$navbar-color: $primary-color;
$navbar-fixed-color: $primary-color;
$navbar-hover-color: $navbar-color;

// Links //
$navbar-link-style: 'border'; // Underline | Fill | Border | Rectangle | Pill | Pill-border
$navbar-link-active-color: $primary-color;
$navbar-fixed-link-active-color: $primary-color;

// Brand //
$navbar-brand-image: true;
$navbar-brand-size: $navbar-size * 0.80;
$navbar-fixed-brand-size: $navbar-fixed-size;

////////////
// Footer //
////////////
// $footer-top-padding: $global-spacing * 4;
$footer-top-background-color: #222;
// $footer-top-color: $base-color-light;

// $footer-bottom-padding: $global-spacing * 0.5;
// $footer-bottom-font: 'heading';
// $footer-bottom-background-color: $primary-color;
// $footer-bottom-color: $footer-top-color;

$social-style: 'fill';
