@if $heading-font-external == false {
  @font-face {
    font-family: $heading-font;
    src: url('./dist/fonts/' + unquote($heading-font) + '.woff2') format('woff2'),
         url('./dist/fonts/' + unquote($heading-font) + '.woff') format('woff');
  }
}

@if $body-font-external == false {
  @font-face {
    font-family: $body-font;
    src: url('./dist/fonts/' + unquote($body-font) + '.woff2') format('woff2'),
         url('./dist/fonts/' + unquote($body-font) + '.woff') format('woff');
  }
}

@else {
  $font1: str-replace( map-get( $fonts, 'heading' ), ' ', '+' );
  $font2: str-replace( map-get( $fonts, 'body' ), ' ', '+' );
  $font: $font2 + ':' + $body-font-weight + '|' + $font1 + ':' + $heading-font-weight;

  @import url('https://fonts.googleapis.com/css?family=#{$font}');
}

#{headings()} {
  @include font( 'heading', true );
}

body {
  @include font( 'body', true );
  background-color: $body-background-color;
}

@if $navbar-brand-image == false {
  .x-brand {
    @include font( 'heading', true );
  }
}
