.x-colophon {
  // Top Footer
  a {
    @include fast-transition;
    &:hover {
      color: darken( $footer-bottom-text-color, 20% );
    }
  }

  &.top {
    &:not(.bg3) {
      background-color: $footer-top-background-color;
    }
    padding: $global-spacing 0;
    // #{textElements()}, .textwidget {
    //   color: $footer-top-text-color;
    //   font-size: $footer-top-font-size;
    // }
  }
  // Bottom Footer
  &.bottom {
    background-color: $footer-bottom-background-color;
    padding: $global-spacing / 2 0;
    @include font( $footer-bottom-font );

    .x-nav {
      display: flex;
      margin: 0;
      li {
      flex: 1;
      text-align: center;
        a {
          display: inline;
        }
      }
    }
  }

  &.bar {
    text-align: center;
    background-color: #333;
    padding: $global-spacing / 4 0;
    @include font( $footer-bottom-font );

    .x-colophon-content {
      margin: 0;
      color: $footer-bottom-text-color;
    }
  }
}
