.x-colophon {
  // Top Footer
  &.top {
    &:not(.bg3) {
      background-color: $footer-top-background-color;
    }
    padding: $footer-top-padding 0;
    // #{textElements()}, .textwidget {
    //   color: $footer-top-text-color;
    //   font-size: $footer-top-font-size;
    // }
  }
  // Bottom Footer
  &.bottom {
    text-align: center;
    background-color: $footer-bottom-background-color;
    padding: $footer-bottom-padding 0;
    // font-size: $footer-bottom-font-size;
    @include font( $footer-bottom-font );

    .x-colophon-content,
    a {
      @include fast-transition;
      color: $footer-bottom-text-color;
      &:hover {
        color: darken( $footer-bottom-text-color, 20% );
      }
    }

    .x-nav {
      padding: $global-spacing 0;
      display: flex;
      li {
        flex: 1;
        & + li a {
          @include border( left );
        }
      }
    }
  }
}
