// @import "inputs/buttons";
// @import "inputs/text";

$inputs: (
  text: (
    atts: (
      font-size: 20px,
      height: 50px,
      border: 2px solid green
    ),
    pseudo: (
      focus: (
        border-color: red
      )
    )
  ),
  email: (
    copy: 'text',
    atts: (
      font-size: 30px
    )
  ),
  tel: (
    copy: 'text'
  ),
  password: (
    copy: 'email'
  ),
  submit: (
    atts: (
      border-color: red,
      border-width: 4px,
      background-color: yellow
    )
  )
);

// function
$types: ();
@each $type, $attr in $inputs {
  @if map-has-key( $attr, 'copy' ) {
    $new: (
      $type: map-get( $attr, 'copy' )
    );
    $types: map-merge( $types, $new );
    // $types: append( $types, $type );
  }
}
// @warn $types;
//
// $amount: 0;
// @each $type, $copy in $types {
//   $amount: $amount + 1;
// }
// @for $i from 1 to $amount {
//   #{}
// }
//
// @each $type, $attr in $inputs {
//   $attributes: ();
//   $pseudo-attributes: ();
//
//   $atts: map-get( $attr, 'atts' );
//
//   @if map-has-key( $attr, 'copy' ) {
//     $copy: map-get( $attr, 'copy' );
//     $atts: map-get-deep( $inputs, $copy, 'atts' );
//     // $atts: map-get( $parent, 'atts' );
//
//     @if map-has-key( $attr, 'atts' ) {
//       $atts: map-merge( $atts, map-get( $attr, "atts" ) );
//     }
//   }
//
//   @each $var, $val in $atts {
//     $attributes: (
//       #{$var}: $val
//     );
//   }
//
//   @if map-has-key( $attr, 'pseudo' ) {
//     $pseudo: map-get( $attr, 'pseudo' );
//
//     @each $var in $pseudo {
//       &#{$var} {
//         @each $one, $two in map-get($pseudo, $var) {
//           $pseudo-attributes: (
//             #{$one}: $two
//           );
//         }
//       }
//     }
//   }
//
//   $output: map-merge( $attributes, $pseudo-attributes );
//   input[type='#{$type}'] {
//     @each $val, $var in $output {
//       #{$val}: $var;
//     }
//   }
// }
