///////////////////
// Masthead base //
///////////////////
.masthead {

  .x-navbar {
    width: 100%; // Safari fix
    padding: 0 $global-spacing;
    background-color: $navbar-background-color;

    .x-navbar-inner {
      &, .x-container {
        min-height: $navbar-height;
      }
      .x-container {
        display: flex;
        align-items: stretch;
      }
      .x-nav-wrap {
        margin-left: $global-spacing;
      }
    }
  }

  &:hover .x-navbar .x-navbar-inner .x-nav-wrap.desktop {
    @include visible;
  }

  &.masthead-inline .x-navbar .desktop .sub-menu .sub-menu {
    top: 0;
  }

  @if $navbar-background-color == transparent {
    .x-navbar {
      pointer-events: none;
      .x-nav {
        pointer-events: all;
      }
    }
  }

  @if $navbar-fixed-background-color == transparent {
    .x-navbar.x-navbar-fixed-top {
      pointer-events: none;
      .x-nav {
        pointer-events: all;
      }
    }
  }
}

//////////////////
// Desktop menu //
//////////////////
.masthead .x-navbar .x-navbar-inner .x-nav-wrap.desktop {
  display: flex;
  flex: 1;
  @include visible( false );
  @include fast-transition;

  & > .x-nav {
    display: flex;
    align-items: stretch;
  }
}

/////////////////
// Mobile menu //
/////////////////
.masthead .x-navbar .x-navbar-inner .x-nav-wrap.mobile {
  // opacity: 0;
  // pointer-events: none;
  // @include fast-transition;
  //
  // & > .x-nav {
  //   display: flex;
  //   align-items: stretch;
  // }
}

///////////////
// All menus //
///////////////
.masthead .x-navbar .x-navbar-inner .x-nav-wrap .x-nav {
  display: flex;
  width: 100%;
  margin: 0;
  float: right;

  // Top level li
  & > li {
    display: flex;
    align-items: stretch;
    flex: 1;
    text-align: center;
    // WPML menu item width fix
    &.menu-item-language .sub-menu {
      min-width: none;
    }
  }

  // All menu items
  li a {
    margin: auto;
    color: $navbar-text-color;
    font-size: $navbar-text-font-size;
    @include fast-transition;
    @include font( $navbar-text-font );
    @include active {
      color: $navbar-text-hover-color;
    }

    span {
      margin: auto;
    }
  }

  // Only top level menu items
  & > li > a {
    @if $navbar-link-style == 'fill'
    or $navbar-link-style == 'underline' {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
    }

    @if $navbar-link-style == 'box'
    or $navbar-link-style == 'border' {
      padding: ( $navbar-height - $global-border-width ) * 0.15  $navbar-height * 0.25;
      border-radius: $global-border-radius;

      @if $navbar-link-style == 'border' {
        border: $global-border-width solid transparent;
      }
    }
  }
}

//////////////
// Submenus //
//////////////
.masthead .x-navbar .x-navbar-inner .x-nav-wrap .x-nav {

  // All submenus
  li > .sub-menu {
    // border-top: 1px solid $navbar-background-color;
    position: relative;
    height: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    color: $navbar-text-color;
    overflow: hidden;
    @include simple-transition;

    li {
      position: relative;
      a {
        min-height: $navbar-fixed-height;
        display: flex;
      }
    }

    // Sub submenus
    .sub-menu {
      // top: 0;
    }
  }

  // Only top level sub menu
  & > li > .sub-menu {
    position: absolute;
    top: $navbar-height;
    background-color: $navbar-submenu-background-color;
    width: 100%;
  }
}

///////////////////
// Mobile button //
///////////////////
.masthead .x-navbar .x-navbar-inner .x-btn-navbar {
  box-shadow: none;
  @include break( 'medium', 'min') {
    display: none;
  }
  @if $navbar-link-style == 'fill' {
    // padding: ($navbar-height - $navbar-text-font-size) / 2 $navbar-text-spacing;
    height: auto;
    border-radius: 0;
  }

  i {
    font-size: $navbar-text-font-size;
    color: $navbar-text-color;
    @include active {
      color: $navbar-text-hover-color;
    }
  }
}

////////////////////
// Brand img/text //
////////////////////
.masthead .x-navbar .x-navbar-inner .x-brand {
  display: flex;
  margin: auto;
  float: left;

  @if $navbar-brand-image == true {
    &.img > svg,
    &.img > img {
      height: $navbar-brand-height;
      margin: auto;
      @include fast-transition;
    }
  }

  @else {
    &.text {
      margin: auto;
      font-size: $navbar-brand-height;
    }
  }
}

//////////////////
// Fixed Navbar //
//////////////////
.masthead .x-navbar.x-navbar-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;

  @include simple-transition;

  // Only add rules if they actually change
  @if $navbar-background-color != $navbar-fixed-background-color {
    background-color: $navbar-fixed-background-color;
  }

  @if $navbar-height != $navbar-fixed-height {
    .x-navbar-inner {
      @include simple-transition;

      &, & > .x-container {
        min-height: $navbar-fixed-height;
      }

      @if $navbar-brand-image == false {
        .x-brand.text {
          font-size: $navbar-fixed-brand-height;
          @include simple-transition;
        }
      }
      @else {
        .x-brand.img > img,
        .x-brand.img > svg {
          height: $navbar-fixed-brand-height;
          @include simple-transition;
        }
      }
    }
  }
}

///////////////////////////
// Fixed Navbar: Desktop //
///////////////////////////
.masthead .x-navbar.x-navbar-fixed-top .x-navbar-inner .x-nav-wrap.desktop {
  @include visible;

  .x-nav {
    & > li > a { // Only top level fixed links
      @if $navbar-link-style == 'border'
       or $navbar-link-style == 'box' {
        padding: ( $navbar-fixed-height - $global-border-width ) * 0.25  $navbar-fixed-height * 0.35;
      }
    }

    & > li > .sub-menu { // Only top level fixed submenu
      top: $navbar-fixed-height;
    }

    & > li .sub-menu { // All fixed submenus
      background-color: $navbar-fixed-submenu-background-color;
    }
  }
}

//////////////////////
// Top level Active //
//////////////////////
.masthead .x-navbar .x-navbar-inner .x-nav-wrap .x-nav > li > a:hover,
.masthead .x-navbar .x-navbar-inner .x-nav-wrap .x-nav > li.current-menu-item > a,
.masthead .x-navbar .x-navbar-inner .x-nav-wrap .x-nav > li.x-active > a {
  color: $navbar-text-hover-color;

  @if $navbar-link-style == 'fill' {
    background-color: $navbar-fixed-link-active-color;
  }

  @elseif $navbar-link-style == 'box'
       or $navbar-link-style == 'pill'{
    border-color: currentColor;

    @if $navbar-link-style == 'box'
     or $navbar-link-style == 'pill' {
      background-color: $navbar-fixed-link-active-color;
    }
  }
}

//////////////////////////////
// Top level Fixed + Active //
//////////////////////////////
.masthead .x-navbar.x-navbar-fixed-top .x-navbar-inner .x-nav-wrap .x-nav > li > a:hover,
.masthead .x-navbar.x-navbar-fixed-top .x-navbar-inner .x-nav-wrap .x-nav > li.current-menu-item > a,
.masthead .x-navbar.x-navbar-fixed-top .x-navbar-inner .x-nav-wrap .x-nav > li.x-active > a {
  color: $navbar-text-hover-color;

  @if $navbar-link-style == 'fill' {
    background-color: $navbar-fixed-link-active-color;
  }

  // @elseif $navbar-link-style == 'underline' {
  //   box-shadow: inset 0 -$global-border-width 0 0 $navbar-fixed-link-active-color;
  // }

  @elseif $navbar-link-style == 'border'
       or $navbar-link-style == 'box'
       or $navbar-link-style == 'pill'
       or $navbar-link-style == 'pill-border' {

    @if $navbar-link-style == 'box'
     or $navbar-link-style == 'pill' {
      background-color: $navbar-fixed-link-active-color;
    }
  }
}

////////////////
// All active //
////////////////
.masthead .x-navbar .x-navbar-inner .x-nav-wrap .x-nav {

  // Active submenu
  li.x-active > .sub-menu,
  li > a:hover > .sub-menu {
    height: 100%;
  }

  // Active links
  li.x-active > a,
  li > a:hover,
  .current-menu-item > a {
    color: $navbar-text-hover-color;

    @if $navbar-link-style == 'fill' {
      background-color: $navbar-link-active-color;
    }

    @if $navbar-link-style == 'fade' {
      background: $navbar-link-active-color; // Fallback
      background: linear-gradient(to top, $navbar-link-active-color 0%, transparent 100%);
    }

    @elseif $navbar-link-style == 'underline' {
      box-shadow: inset 0 #{ -$global-border-width } 0 0 currentColor;
    }

    @elseif $navbar-link-style == 'border'
    or $navbar-link-style == 'box' {

      // border-color: $navbar-link-active-color;

      @if $navbar-link-style == 'box'
      or $navbar-link-style == 'pill' {
        background-color: $navbar-link-active-color;
      }
    }
  }
}

// // Show submenu
// .masthead .x-navbar .x-navbar-inner .x-nav-wrap .x-nav > li.x-active > .sub-menu > li.x-active > .sub-menu {
//   display: flex;
// }

// @elseif $navbar-link-style == 'border'
//      or $navbar-link-style == 'box' {
//   .x-navbar .desktop .x-nav {
//
//     .current-menu-item > a,
//     .x-active > a,
//     li > a:hover {
//
//       span {
//         border-color: currentColor;
//       }
//
//       @if $navbar-link-style == 'box'
//        or $navbar-link-style == 'pill' {
//         background-color: $navbar-link-active-color;
//       }
//     }
//
//     & > li > a {
//       border: $global-border-width solid transparent;
//       // margin: ($navbar-height - ($navbar-text-font-size + (($navbar-height / 6) * 2) + ($global-border-width * 2))) / 2 ($navbar-text-spacing / 2);
//       // padding: $navbar-height / 6 !important;
//       // height: auto;
//
//       @if $navbar-link-style == 'pill' or $navbar-link-style == 'pill-border' {
//         border-radius: 30px;
//       }
//     }
//   }
// }
