.site,
.x-site {
  background-color: $body-background-color !important;
}

.x-container {
  &.width {
    width: $container-width;
  }

  &.max {
    max-width: $container-max-width;
  }
}

.x-section {
  padding: 6em 0;
  // margin: 4em 0;
}

@import 'sections/ep-top';
@import 'sections/ep-intro';
