.x-social-global {
  padding: $global-spacing 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  a {
    position: relative;
    flex: 1 0 10%;
    padding: $global-spacing / 2 $global-spacing / 4;
    margin: $global-spacing / 8;
    border-radius: $global-border-radius;
    i {
      margin: auto;
      font-size: $global-spacing;
    }
  }
}

@each $site, $icon in $social {
  $color: map-get( $icon, color );

  a[class*="#{$site}"] {
    i:before {
      content: map-get( $icon, icon );
    }
    @if $social-style == 'fill' {
      &:hover {
        background-color: $color;
        color: white !important;
      }
    }
    @if $social-style == 'border' {
      @include border;
      &:hover {
        background-color: transparentize( $white, 0.9 );
        border-color: $color;
        color: $color !important;
      }
    }
  }
}
