.x-social-global {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -0.5em;
  .social-icon {
    display: flex;
    padding: 0.5em;
    &.style-border {

    }
    &.style-fill {
      i {
        @include border;
        &:hover {
          background-color: transparentize( $white, 0.9 );
        }
      }
    }

    a {
      margin: auto;
      position: relative;
      padding: 1em;
      @include border-radius;
      // span.text {
      //   display: block;
      //   padding: 0.1em;
      // }

      i {
        @include font-awesome;
        margin: auto;
        font-size: 2em;

        @if $social-style == 'fill' {
          &:hover {
            color: white;
          }
        }
        @if $social-style == 'border' {
          @include border;
          &:hover {
            background-color: transparentize( $white, 0.9 );
          }
        }
      }


      @each $site, $icon in $social {
        $color: map-get( $icon, color );

        &[class*="#{$site}"] {

          i:before {
            content: map-get( $icon, icon );
          }

          &:hover {
            @if $social-style == 'fill' {
              background-color: $color;
              color: white !important;
            }
            @if $social-style == 'border' {
              border-color: $color;
              color: $color !important;
            }
          }
        }
      }
      // end @each
    }
  }

  &.text {
    a {
      display: flex;
    }

    &.top a::before,
    &.left a::before,
    &.bottom a::after,
    &.right a::after {
      content: attr(title);
      margin: auto;
      padding: 0.5em;
    }
    &.top a,
    &.bottom a {
      flex-direction: column;
    }
  }
}
