@if $navbar-brand-image == false {
  .x-brand {
    font-family: $heading-font-family !important;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font-family !important;
}

body, input, button, select, textarea {
    font-family: $body-font-family, sans-serif !important;
}
